.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.sub-text{
    line-height:1;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: justify
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;        
}